.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* position: absolute;
  left: 500px; */
  right: 0;
  background: #fff;
  padding-bottom: 10px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  margin-top: 30px;
}

.text-5xl {
  position: absolute;
  left: 30px;
  right: 0;
}
.btn btn-success{
  color: aquas;
}
.Remember me{
  text-align: center;
}
